In [132]:
#strings
"I am Amulya"

'I am Amulya'

In [133]:
#find the datatype
type("I am Amulya")

str

In [134]:
#assignment operator
A = 10
A

10

In [135]:
#int
type(A)

int

In [136]:
#float
b = 1.15667
b

1.15667

In [137]:
type(b)

float

In [138]:
c=(1+i2)
c

NameError: name 'i2' is not defined

In [139]:
#double
c = (1+2j)
c

(1+2j)

In [140]:
type(c)

complex

In [141]:
#variable
_Name = 10
_Name

10

In [142]:
_Na23me = 10
_Na23me

10

In [143]:
#special char are not allowed in variable name
_Nam@123 = 10
_Nam@123

SyntaxError: cannot assign to operator (1579769462.py, line 2)

In [144]:
#numerical value at the first is not allowed in variable
1_Name = 10
1_Name

SyntaxError: invalid decimal literal (193098714.py, line 2)

In [145]:
#space is not allowed in variable name
name 12 = 10
name 12

SyntaxError: invalid syntax (3871714346.py, line 2)

In [146]:
#arithmetic operators (add) 
1 + 2

3

In [147]:
#arithmetic operators (sub) 
15 - 25

-10

In [148]:
#arithmetic operators (multiply) 
2*3

6

In [149]:
#arithmetic operators (division) output is quotient 
2/2

1.0

In [151]:
#arithmetic operators (modules) output is reminder 
7 % 3

1

In [152]:
#arithmetic operators (root) output square root 
2 ** 2

4

In [155]:
#arithmetic operators (root) output cube root 
2 ** 3

8

In [156]:
#arithmetic operators (floor modules) output takes only whole part in the quotient
100 // 3

33

In [157]:
#bodmas or pemdas method is used
(1+2-3)*4

0

In [158]:
(2*3/4)

1.5

In [159]:
3/4

0.75

In [160]:
(2+3)*(4-2)/(3+5)

1.25

In [161]:
#assignment operator can assign one value a time or can also add multiple value
a = 12
A,B,C = 14,13,15
print (a)
print (A)
print (B)
print (C)

12
14
13
15

In [163]:
x = 10
print(x)

x+=10
print(x)

x-=10
print(x)

x*=10
print(x)

10
20
10
100

In [164]:
x = 10
x <<= 10
print(x)

10240

In [165]:
q = 10
q >>= 1
print(q)

5

In [166]:
2 == 2

True

In [167]:
2 <= 2

True

In [168]:
2 != 2

False

In [169]:
2 >= 2

True

In [170]:
2 > 2

False

In [171]:
2 < 2

False

In [172]:
(3 <5) and (20 > 15)

True

In [173]:
(3 <5) or (20 > 15)

True

In [174]:
not ((3 <5) and (20 > 15))

False

In [175]:
(5<3) and (20<10)

False

In [176]:
"amu" in "amulya" #membership

True

In [177]:
"amu" not in "amulya"

False

In [178]:
print(id("amu"))
print(id("amulya"))

1483853541808
1483850378032

In [179]:
a = "amu"
b = "suni" #position

print (id(a))
print (id(b))

1483853543280
1483853542000

In [180]:
a is b

False

In [181]:
a is not b

True

In [182]:
y = {1:'a' , 2:'b'}
y

{1: 'a', 2: 'b'}