In [ ]:
#comment

In [ ]:
#insert cell above esc A below esc b

In [ ]:
#delete the cell esc dd

In [ ]:
#run the code ctrl+enter

In [5]:
1+2

3

In [ ]:
#keywords that have special meaning in the programming

In [ ]:
#literals string,character,number

In [6]:
#string

a=("I am amulya")
print(a)

I am amulya

In [7]:
type(a)

str

In [8]:
a=10
type(a)

int

In [9]:
a=1.45678
type(a)

float

In [10]:
a=1+2j
type(a)

complex

In [13]:
#case sensitive

'a'=='A'

False

In [14]:
#error throughing identifiers

@amu = 122
1a_sad=122
amu ao = 122

SyntaxError: invalid decimal literal (1088089782.py, line 4)

In [15]:
@amu = 122

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (4293481278.py, line 1)

In [16]:
amu ao = 122

SyntaxError: invalid syntax (3872676789.py, line 1)